<template>
  <div class="container">
      	<div class="container">

		<div class="card-deck mb-3 text-center mt-5">
		    <div class="card mb-4 shadow-sm box-one">
		      	<div class="card-header border-0 card flex-row flex-wrap" style="margin-right:10px;margin-left:10px;">
		      		<div class="media w-100"> 
			    		<img src="images/box-1-logo.png" class="align-self-center mr-2" />
			    		<div class="media-body align-self-center f-box-one font-weight-bold text-left"> 
			    			Circulation
			    		</div>
			    		<div class="dots"></div>
			    	</div>
		      	</div>
		      	<div class="card-body">
		        	<div class="col-lg-12">
		        		<h1 class="card-title pricing-card-title f-white">3,213,213</h1>
		        	</div>
		        	<div class="row">
				        <div class="col-lg-9">
					        <div class="chart text-center">
								<div class="bar-1"></div>
								<div class="bar-2"></div>
								<div class="bar-3 highlighted"></div>
								<div class="bar-4"></div>
								<div class="bar-5"></div>
								<div class="bar-6"></div>
								<div class="bar-7"></div>
								<div class="bar-8"></div>
								<div class="bar-9"></div>
								<div class="bar-10"></div>
								<div class="bar-11"></div>
								<div class="bar-12"></div>
							</div>
						</div>
						<div class="col-lg-3 d-flex align-items-center">
							<span class="f-white"><strong>MAR</strong></span>
						</div>
					</div>
		      	</div>
		    </div>
		    <div class="card mb-4 shadow-sm box-two">
		      	<div class="card-header border-0 card flex-row flex-wrap" style="margin-right:10px;margin-left:10px;">
			    	<div class="media w-100"> 
			    		<img src="images/box-2-logo.png" class="align-self-center mr-2" />
			    		<div class="media-body align-self-center f-box-two font-weight-bold text-left"> 
			    			Circulation
			    		</div>
			    		<div class="dots"></div>
			    	</div>
		      	</div>
		      	<div class="card-body">
		      		<div class="col-lg-12">
		        		<h1 class="card-title pricing-card-title f-white">3,213,213</h1>
		        	</div>
		        	<div class="row">
				        <div class="col-lg-9">
					        <div class="chart text-center">
								<div class="bar-1"></div>
								<div class="bar-2"></div>
								<div class="bar-3 highlighted"></div>
								<div class="bar-4"></div>
								<div class="bar-5"></div>
								<div class="bar-6"></div>
								<div class="bar-7"></div>
								<div class="bar-8"></div>
								<div class="bar-9"></div>
								<div class="bar-10"></div>
								<div class="bar-11"></div>
								<div class="bar-12"></div>
							</div>
						</div>
						<div class="col-lg-3 d-flex align-items-center">
							<span class="f-white"><strong>MAR</strong></span>
						</div>
					</div>
		      	</div>
		    </div>
		    <div class="card mb-4 shadow-sm box-three">
		      	<div class="card-header border-0 card flex-row flex-wrap" style="margin-right:10px;margin-left:10px;">
		      		<div class="media w-100"> 
			    		<img src="images/box-3-logo.png" class="align-self-center mr-2" />
			    		<div class="media-body align-self-center f-box-three font-weight-bold text-left"> 
			    			Circulation
			    		</div>
			    		<div class="dots"></div>
			    	</div>
		      	</div>
		      	<div class="card-body">
		        	<div class="col-lg-12">
		        		<h1 class="card-title pricing-card-title f-white">3,213,213</h1>
		        	</div>
		        	<div class="row">
				        <div class="col-lg-9">
					        <div class="chart text-center">
								<div class="bar-1"></div>
								<div class="bar-2"></div>
								<div class="bar-3 highlighted"></div>
								<div class="bar-4"></div>
								<div class="bar-5"></div>
								<div class="bar-6"></div>
								<div class="bar-7"></div>
								<div class="bar-8"></div>
								<div class="bar-9"></div>
								<div class="bar-10"></div>
								<div class="bar-11"></div>
								<div class="bar-12"></div>
							</div>
						</div>
						<div class="col-lg-3 d-flex align-items-center">
							<span class="f-white"><strong>MAR</strong></span>
						</div>
					</div>
		      	</div>
		    </div>
	  	</div>
	 </div>
      <LineChart/>
  </div>
</template>

<script>
// @ is an alias to /src
import LineChart from "@/components/LineChartComponent.vue";

export default {
  name: "home",
  components: {
    LineChart
  }
};
</script>
