<template>
  <div class="chart-container">
      <canvas id="chart-data"></canvas>
  </div>
</template>

<script>
import Chart from "chart.js";
import numeral from 'numeral';
export default {
  name: "LineChart",
  mounted() {
      const ctx = document.getElementById("chart-data");
      const chart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul','Aug','Sep','Oct','Nov','Dec'],
              datasets: [
                  {
                      data: [0, 350000, 500000, 600000, 800000, 750000 ,200000,300000,500000, 600000,430000, 300000],
                      fill: false,
                      borderColor: '#0DBFED'
                  }
              ]
          },
          options: {
            legend: {
                display: false
            },
            responsive: true,
            scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    userCallback: function(value, index, values) {
                        return numeral(value).format('0a');
                    },
                    stepSize: 200000,
                    max: 1000000
                }
            }]
          }
      }
      });
  }
};
</script>
<style lang="scss">
    canvas {
        width: 780px !important;
        margin: 0 auto;
    }
</style>
