<template>
    <div class="signal-bars mt1 sizing-box good four-bars">
        <div class="first-bar bar"></div>
        <div class="second-bar bar"></div>
        <div class="third-bar bar"></div>
        <div class="fourth-bar bar"></div>
        <div class="fifth-bar bar"></div>
    </div>
    
</template>
<script>
export default {
    name: "SignalBar"
}
</script>
<style lang="scss">
    @import url('../assets/css');
</style>

