<template>
  <div id="app">
    <header>
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		  	<a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Bootstrap"> 
		  		<img src="images/logo.png" width="100%" />
		  	</a>
		  	<h5 class="my-0 mr-md-auto font-weight-normal">PLANNING</h5>
		  	<nav class="my-2 my-md-0 mr-md-3">
		    	<a class="p-2 text-dark" href="#">Dashboard</a>
		    	<a class="p-2 text-dark" href="#">Explore</a>
		    	<a class="p-2 text-dark" href="#">Planning</a>
		    	<a class="p-2 text-dark" href="#">ADEX</a>
		    	<a class="p-2 text-dark" href="#">Campaign</a>
		    	<a class="p-2 text-dark" href="#">Cart</a>
		  		<a class="p-2 ml-3 mr-3 text-dark" href="#"><font-awesome-icon icon="download"></font-awesome-icon></a>
		  		<a class="p-2 mr-3 text-dark" href="#"><font-awesome-icon icon="phone"></font-awesome-icon></a>
		  	</nav>
		  	
		  	<a class="" style="color:grey" href="#"><font-awesome-icon icon="user-circle"></font-awesome-icon></a>
		</div>
	</header>
    <router-view />
  </div>
</template>

<style lang="scss"> 
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
